* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 48px;
  display: flex;
  justify-content: right;
}

header > div {
  padding: 10px;
  font-family:'Segoe UI', sans-serif;
  font-weight: 200;
  font-size: medium;
  color: #555
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48 * 2px);  
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.campo_de_busca {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  display: flex;
  align-items: center;
  border: 0.1px solid #ccc;
  border-radius: 50px;
  padding: 0px 18px;
  margin: 0px 18px;
}

form > span {
  color: #555;
  padding: 10px;
}

form input {
  height: 20px;
  width: 400px;
  min-width: 300px;
  border: none;
  background-color: transparent;
  outline: none;
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center; 
}

button {
  height: 36px;
  width: 135px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(241, 241, 241, 0.5);
}

button p {
  font-family: "Roboto", sans-serif;
  font-size: 10pt;
}

footer {
  height: 48px;
  background-color: #eee;
}
